* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #5c5470;
}

.logo {
    cursor: pointer;
}

.logo p {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: none;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}