* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #5c5470;
}

.logo {
    cursor: pointer;
}

.logo p {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: none;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.content {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.textarea {
    width: 100%;
    padding: 100px;
    background-color: #5c5470;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c5470;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6a60a9;
}